* {
    font-family: 'Nunito', sans-serif;
    margin: 0rem;
}

body {
    background-color: #F1F5F8;
    color: #22292E;
    font-weight: 600;
}

.heading {
    font-size: 2rem;
    margin: 2rem 4rem;
}

.card {
    border-radius: 15px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    width: 500px;
    margin: 0 4rem;
}

.property {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 1rem;
}

.property-img {
    height: 300px;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
}

.details {
    font-weight: 600;
}

.address {
    font-weight: 400;
}

.details, .address {
    display: inline-flex;
    margin: 1rem;
    font-size: 1.5rem;
    color: #606F7B;
}

.type {
    margin-right: .5rem;
}

span {
    margin-right: .5rem;
}

.price {
    font-size: 3.5rem;
    font-weight: 400;
    margin: 0 1rem;
}

.realtor {
    background-color: #F5F8FA;
    border-radius: 0 0 15px 15px;
    padding: 1rem;
}

.realtor-info {
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.profile-img img {
    width: 70px;
    border-radius: 50%;
}

.profile-text {
    margin-left: 1rem;
    align-self: center;
}

.subhead {
    color: #606F7B;
    letter-spacing: 1px;
    padding: 1rem;
}

.name {
    font-size: 1.5rem;
}

.phone {
    color: #606F7B;
    font-size: 1.25rem;
    font-weight: 300;
}