* {
    font-family: 'Nunito', sans-serif;
    margin: 0rem;
}

body {
    background-color: #F1F5F8;
    color: #22292E;
    font-weight: 600;
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;
}

@media (min-width: 800px) {
    main {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.heading {
    padding-top: 3rem;
    margin-left: 2rem;
    font-size: 1.5rem;
}

h1 {
    font-weight: 600;
}

.card {
    border-radius: 15px;
    box-shadow: 0 10px 15px 3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    width: 320px;
    margin: 2rem;
}

@media (min-width: 1000px){

    .card {
        display: flex;
        flex-direction: row;
        width: auto;
        height: 175px;
    } 
}

.property {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: .5rem;
}

.property-img {
    height: 200px;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
}

@media (min-width: 1000px) {

    .property {
        justify-content: space-around;
        min-width: 250px;
        padding: 2rem 1rem;
    }

    .property-img {
        width: 250px;
        border-radius: 15px 0 0 15px;
    }       

    .property-img img {
        height: 175px;
        border-radius: 15px 0 0 15px;
    }
}

.property-img img {
    width: 100%;
    object-fit: cover;
}

.details {
    font-weight: 600;
}

.address {
    font-weight: 400;
}

.details, .address {
    display: inline-flex;
    margin: .5rem;
    font-size: 1rem;
    color: #606F7B;
}

.type {
    margin-right: .5rem;
}

span {
    margin-right: .5rem;
}

.price {
    font-size: 2.2rem;
    font-weight: 400;
    margin: 0 .5rem;
}

@media (min-width: 1000px) {
    .price {
        font-size: 2.5rem;
    }
}

.realtor {
    border-radius: 0 0 15px 15px;
    padding: .5rem;
}

@media (min-width: 1000px) {
    .realtor {
        margin: auto 0;
        border-radius: 0 15px 15px 0;
        padding: 0 1rem;
    }
}

.realtor-info {
    display: flex;
    flex-direction: row;
    padding: .5rem;
}

.profile-img img {
    width: 70px;
    border-radius: 50%;
}

.profile-text {
    margin-left: 1rem;
    align-self: center;
}

.subhead {
    font-size: .75rem;
    color: #606F7B;
    letter-spacing: 1px;
    padding: .25rem;
}

.name {
    font-size: 1rem;
    margin-bottom: .25rem;
}

.email {
    display: none;
}

.phone, .email{
    color: #606F7B;
    font-size: 1rem;
    font-weight: 300;
}

@media (min-width: 1000px) {
    .email {
        display: flex; 
    }
}